version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: salondb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: salondb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432

      DJANGO_SUPERUSER_USERNAME: "8102780474"
      DJANGO_SUPERUSER_PASSWORD: "12345"
      DJANGO_SUPERUSER_EMAIL: "admin@example.com"

    depends_on:
      - db

    command: >
      sh -c "
        python manage.py makemigrations &&
        python manage.py migrate &&
        python manage.py createsuperuser --noinput || true &&
        python manage.py runserver 0.0.0.0:8000
      "

volumes:
  postgres_data:

